<ion-header>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rugby Players</ion-title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-searchbar class="searchBoxInput" *ngIf="isSearchbarOpened" showCancelButton="true" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
  <ion-buttons end>
    <button class="searchBtn" ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
    </button>
  </ion-buttons>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <div style="overflow-x:auto;">
    <table>

      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Comment</th>
      </tr>

      <tr *ngFor="let user of users | async">
        <td>{{ user.name }} {{ user.surname }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button ion-button (click)="edit(user);" color="{{user.statusColour}}">Injured</button>
        </td>
        <td>{{user.status}}</td>
      </tr>
    </table>

    <ion-fab bottom right>
      <button ion-fab (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-fab>
  </div>

</ion-content>
