<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!isSearchbarOpened">registerPhysio
  </ion-title>

  <ion-searchbar class="searchBoxInput" *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons end>
      <button class="searchBtn" ion-button icon-only *ngIf="!isSearchbarOpened" (click) = "isSearchbarOpened=true">
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item-group>
<ion-item-divider color="light">A</ion-item-divider>
<ion-item>Angelo</ion-item>

</ion-item-group>

<ion-item-group>
<ion-item-divider color="light">B</ion-item-divider>
<ion-item>Ben</ion-item>

</ion-item-group>

<ion-item-group>
<ion-item-divider color="light">C</ion-item-divider>
<ion-item>Cameron</ion-item>

</ion-item-group>

<ion-fab bottom right >
<button ion-fab (click) = "isSearchbarOpened=true"><ion-icon name="search"></ion-icon></button>
</ion-fab>

<form>
<fieldset>
  <div>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" name="title">recieve from database</ion-input>
    </ion-item>
  </div>

  <div>
    <ion-item>
      <ion-label>Surname</ion-label>
      <ion-input type="text" name="title">recieve from database</ion-input>
    </ion-item>
  </div>

  <div>
    <ion-item>
      <ion-label>Type of Injury</ion-label>
      <ion-input type="text" name="title"></ion-input>
    </ion-item>
  </div>

  <div>
    <ion-item>
      <ion-label>Date of Recovery</ion-label>
      <ion-input type="text" name="title"></ion-input>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DDD MMMM YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
  </div>

  </fieldset>

  <ion-item>
    <ion-label>Level of Injury</ion-label>
    <ion-select>
      <ion-option value="">Select Level of Injury</ion-option>
      <ion-option *ngFor="level of Injury" [value]="colour">{{colour}}</ion-option>
    </ion-select>
  </ion-item>

  <br>
  <button ion-button type="submit" block>Submit</button>


</form>

</ion-content>
