<ion-header>

  <ion-navbar>
    <ion-title>RugBot</ion-title>
  </ion-navbar>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</ion-header>

<ion-content padding>

  <br>
  <img src="assets/imgs/logo.png" style="width: 100%; height: auto; border-radius: 100%">
  <br> <br>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input #email formControlName="email" type="email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input #password formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <br> <br>

    <button ion-button block type="submit" style="margin-top: 15px; height: 35px; font-size: 14px; background: black;">
      Login
    </button>
  </form>
  <button ion-button clear block style="text-decoration: underline; margin-top: 20px; color: black; font-size: 14px;" (click)="registerPage()">Register</button>
</ion-content>
