<ion-header>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rugby Players</ion-title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div style="overflow-x:auto;">

    <ion-searchbar [(ngModel)]="txtSearch" [showCancelButton]="shouldShowCancel" (ionInput)="onSearchInput()" (ionCancel)="onCancel()">
    </ion-searchbar>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="date" (ionChange)="dateChange()"></ion-datetime>
    </ion-item>

    <br>

    <table>
      <tr>
        <th>
          <!-- Thumb -->
        </th>
        <th>Name</th>
        <th>Status</th>
      </tr>

      <tr *ngFor="let user of (users | async)">
        <td>
          <a (click)="mark(user)"><img src="{{f(user) ? thumbGreen : thumbBlack}}" style="width:32px;"></a>
        </td>
        <td>{{ user.surname }}, {{ user.name }}</td>
        <td>
          <button ion-button (click)="statusDetails(user);" color="{{user.statusColour}}">{{user.status}}</button>
        </td>
      </tr>
    </table>

    <!-- <br>
    <h2>for testing</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>date</th>
      </tr>

      <tr *ngFor="let user of (attendance | async)">
        <td>{{user.uid}}</td>
        <td>{{user.date}}</td>
      </tr>
    </table> -->

    <br>
    <hr>
    <button ion-button (click)="pushToFire()">Submit</button>
  </div>

</ion-content>
