page-home-player {
  .bg-image{
    background-image: url('../assets/imgs/western_province_emblem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
  }
}
