page-about {
  h2 {
    color: #5358c0;
  }

  p {
    display: block;
    margin: 1em 0;
    color: black;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.25em;
    // background-color: #f5f5f5;
  }
}
